<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.lingdian.entity.CoreLening">
    <resultMap id="coreLeningMapper" type="CoreLening">
        <id property="crlngUnid" column="CRLNG_UNID" jdbcType="NUMERIC"/><!-- "标识UNID" -->
        <result property="crlngUuid" column="CRLNG_UUID" jdbcType="VARCHAR"/><!-- "标识UUID" -->
        <result property="crlngName" column="CRLNG_NAME" jdbcType="VARCHAR"/><!-- "教辅名称" -->
        <result property="crlngStatus" column="CRLNG_STATUS" jdbcType="NUMERIC"/><!-- "状态:1启用,0禁用" -->
    </resultMap>
    <sql id="coreLeningAsProperty">
				CRLNG_UNID AS crlngUnid,
				CRLNG_UUID AS crlngUuid,
						CRLNG_NAME AS crlngName,
								CRLNG_STATUS AS crlngStatus
					</sql>
    <sql id="coreLeningFieldIf">
        <if test="crlngUnid!=null">CRLNG_UNID,</if>
        <if test="crlngName!=null">CRLNG_NAME,</if>
        <if test="crlngStatus!=null">CRLNG_STATUS,</if>
        <if test="crlngUuid!=null">CRLNG_UUID</if>
    </sql>
    <sql id="coreLeningProperty">
        <if test="crlngUnid!=null">#{crlngUnid,jdbcType=NUMERIC},</if>
        <if test="crlngName!=null">#{crlngName,jdbcType=VARCHAR},</if>
        <if test="crlngStatus!=null">#{crlngStatus,jdbcType=NUMERIC},</if>
        <if test="crlngUuid!=null">#{crlngUuid,jdbcType=VARCHAR}</if>
    </sql>
    <sql id="coreLeningPropertyIf">
        <if test="crlngUnid!=null">CRLNG_UNID=#{crlngUnid,jdbcType=NUMERIC},</if>
        <if test="crlngName!=null">CRLNG_NAME=#{crlngName,jdbcType=VARCHAR},</if>
        <if test="crlngStatus!=null">CRLNG_STATUS=#{crlngStatus,jdbcType=NUMERIC},</if>
        <if test="crlngUuid!=null">CRLNG_UUID=#{crlngUuid,jdbcType=VARCHAR}</if>
    </sql>
    <insert id="insertCoreLening" parameterType="CoreLening" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CORE_LENING(<include refid="coreLeningFieldIf"/>) VALUES (<include refid="coreLeningProperty"/>)
    </insert>
    <select id="getCoreLening" resultMap="coreLeningMapper" parameterType="CoreLening">
        SELECT
        <include refid="coreLeningAsProperty"/>
        FROM CORE_LENING
        <where>CRLNG_STATUS = 1 and CRLNG_UUID=#{crlngUuid,jdbcType=VARCHAR}</where>
    </select>
    <update id="updateCoreLening" parameterType="CoreLening">
        UPDATE CORE_LENING
        <set>
            <include refid="coreLeningPropertyIf"/>
        </set>
        <where>CRLNG_UUID=#{crlngUuid,jdbcType=VARCHAR}</where>
    </update>
    <!--  批量删除-->
    <update id="deleteBatchCoreLeningByIds" parameterType="HashMap">
        UPDATE CORE_LENING set CRLNG_STATUS = 0
        <where>
            <if test="list != null and list.size>0">
                CRLNG_UUID in
                <foreach item="item" index="id" collection="list" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
        </where>
    </update>
    <!--  获取所有list-->
    <select id="findCoreLeningForLists" resultMap="coreLeningMapper" parameterType="HashMap">
        SELECT
        <include refid="coreLeningAsProperty"/>
        FROM CORE_LENING
        where CRLNG_STATUS = 1
    </select>
    <!--  获取所有page-->
    <select id="findCoreLeningForPages" resultMap="coreLeningMapper" parameterType="HashMap">
        SELECT
        <include refid="coreLeningAsProperty"/>
        FROM CORE_LENING
        <where>
            CRLNG_STATUS = 1
            <if test="crlngName!=null and crlngName!=''">
                and CRLNG_NAME like concat('%',#{crlngName,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
    <!--  学生拥有的教辅权限列表-->
    <select id="findCoreLeningForListsByUser" resultMap="coreLeningMapper" parameterType="HashMap">
        SELECT
        <include refid="coreLeningAsProperty"/>
        FROM CORE_LENING
        LEFT JOIN CORE_LENING_USER on CRLUR_LENING = CRLNG_UUID
        where CRLNG_STATUS = 1 and CRLUR_USER=#{user,jdbcType=VARCHAR}
    </select>
</mapper>