<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情试卷回答表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
    <script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/question/corepapersanswer_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">所属教辅：</label>
            <div class="rightLi">
                <label class="crlngName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">所属试卷：</label>
            <div class="rightLi">
                <label class="crpesName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">学生学号：</label>
            <div class="rightLi">
                <label class="crusrName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">学生姓名：</label>
            <div class="rightLi">
                <label class="crusrCode"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">试卷分值：</label>
            <div class="rightLi">
                <label class="crpsaPaperScore"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">总得分：</label>
            <div class="rightLi">
                <label class="crpsaScore"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">查看视频过期时间（小时）：</label>
            <div class="rightLi">
                <label class="crpsaExpire"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">创建时间：</label>
            <div class="rightLi">
                <label class="crpsaCdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">修改时间：</label>
            <div class="rightLi">
                <label class="crpsaUdate"></label>
            </div>
        </li>
        <li class="list-li">
            <table class="tb">
                <thead class="tb-head">
                <tr>
                    <td width="10%">题目名称</td>
                    <td width="20%">回答内容</td>
                    <td width="20%">答案</td>
                    <td width="10%">对错</td>
                    <td width="10%">得分</td>
                    <td width="10%">分值</td>
                    <td width="10%">视频目录</td>
                    <td width="10%">视频名称</td>
                </tr>
                </thead>
                <tbody class="tb-body">
                <tr class="trHighLight">
                    <!-- js生成表格头部 -->
                </tr>
                </tbody>
                <tfoot class="tb-foot">
                <tr>
                    <!-- js生成表格底部 -->
                </tr>
                </tfoot>
            </table>
        </li>
    </ul>
</div>
</body>
</html>
