<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-3.0.0.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
    <script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/question/questions_modify.js?ts=new Date()"></script>
    <link rel="stylesheet" href="../css/question/addsubject.css">
    <link rel="stylesheet" href="../css/question/bootstrap.css">
    <script src="../js/common/bootstrap.min.js?ts=new Date()"></script>
</head>
<style>
    .btn_group{
        width: 163px;
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
<div class="subject-box">
    <div class="title"><span>添加题目：</span><button type="button"  class="btn btn-danger btn-sm" id="add-subject">添加</button></div>
    <table class="table table-bordered table-hover" id="subject-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>答案</th>
            <th>分值</th>
            <th>视频目录</th>
            <th>视频名称</th>
            <th>按钮</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div><button type="button" class="btn btn-danger " id="save-btn">保存</button></div>
</div>
</body>
</html>