<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情用户表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
    <script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/busi/coreuser_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">学号：</label>
            <div class="rightLi">
                <label class="crusrName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">真实姓名：</label>
            <div class="rightLi">
                <label class="crusrCode"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">手机号码：</label>
            <div class="rightLi">
                <label class="crusrMobile"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">创建日期：</label>
            <div class="rightLi">
                <label class="crusrCdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">修改日期：</label>
            <div class="rightLi">
                <label class="crusrUdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">性别：</label>
            <div class="rightLi">
                <label class="crusrGender"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">学校：</label>
            <div class="rightLi">
                <label class="crusrSchool"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">班级：</label>
            <div class="rightLi">
                <label class="crusrClass"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
